*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  line-height: 1.6;
  letter-spacing: 1px;
}

h2 {
  color: hsl(120, 85%, 75%);
  font-size: 3rem;
}

.wrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 100px;
}

.parallax-group {
  height: 50vh;
  width: 100vw;
  transform-style: preserve-3d;
  z-index: -1;

  position: relative;
}

.parallax-group-large {
  height: 100vh;
}

.parallax-group-small {
  height: 50vh;
}

/* layer--1 and layer--2 are in the same container */

.parallax-layer--1 {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50vh;

  background: url('./images/curry.jpg');
  background-size: cover;
  background-repeat: no-repeat;

  transform: translateZ(-400px) scale(5) translateY(-57%);
  z-index: 1;
}

.parallax-layer--2 {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60vh;
  background: url('./images/leonard.jpg');
  background-size: cover;
  background-repeat: no-repeat;

  transform: translateZ(-100px) scale(2) translateY(17%);
  z-index: 1;
}

/* layer--3 moves along */

.parallax-layer--3 {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80vh;
  background: url('./images/morant.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* background-attachment: fixed; */

  transform: translateZ(-100px) scale(2) translateY(10%);
}

/* layer--4 stays fixed, no moving */

.parallax-layer--4 {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: url('./images/giannis.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;

  /* transform: translateZ(-100px) scale(2) translateY(17%); */
  z-index: 1;
}

.content {
  background-color: maroon;
}

.content p {
  max-width: 50%;
  margin: 0 auto;
}
